/*у всьому css властивість font-weight */
/* можна не прописувати, якщо в макеті */
/* вказано 400, оскільки в браузері це */
/* значення - за замовчуванням */

/* у кнопках властивість font-family треба*/
/* прописувати, оскільки тег button має */
/* власний стиль тексту */

/* тег address не наслідує стиль шрифту */
/* тому треба прописувати для нього властивість */
/* font-style:normal, це прибере нахилений текст */

/* зробити заголовок в 2 ряди і відцентрувати його */
/* задати max width к-ть px з макету, */
/* потім margin 0 auto, щоб був по центру */
/* margin-bottom ставити після margin 0 auto */
/* бо auto перебиває bottom */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/header/chocolate.svg);
  background-size: cover;
  background-position: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
  transition-property: color;
  transition-duration: 150ms;
}

.header-menu-link:hover {
  color: #fd9222;
}

.header-menu-link:focus {
  color: #fd9222;
}

.header-soc {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  /* для центрування іконки */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-link:hover {
  border-color: rgba(253, 146, 34, 0.1);
}

/* щоб при наведенні змінювало рамку 
/* та колір іконки одночасно, а не рамки */
/* а потім іконки */
.header-soc-icon {
  fill: #000;
}

.header-soc-link:hover .header-soc-icon {
  fill: rgba(253, 146, 34, 1);
}

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/chocolate_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 381px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: flex-end;
}

.hero-buy-btn {
  color: #ffffff;
  background-color: rgba(253, 146, 34, 1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  margin-right: 14px;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  color: rgba(253, 146, 34, 1);
  background-color: rgba(252, 241, 224, 1);
}

.hero-anchor-btn {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  border: 1px solid #ffffff;
  padding: 14px 40px;
  border-radius: 100px;
  cursor: pointer;
}

.hero-anchor-btn:hover {
  color: rgba(253, 146, 34, 1);
}

.hero-bottom-btn {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  display: flex;
  gap: 14px;
  align-items: center;
}

.hero-bottom-btn::after {
  content: "";
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url(../images/hero/angle-small-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition-duration: 150ms;
}

.hero-bottom-btn:hover::after {
  background-size: 22px;
}

.features {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(30, 24, 35, 1);
}

.features-list {
  padding: 0 18px 0 18px;
  display: flex;
  gap: 88px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}

.features-subtitle {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste {
  padding-top: 120px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-title span {
  color: #fd9222;
}

.taste-list {
  display: flex;
  column-gap: 32px;
  row-gap: 24px;
  flex-wrap: wrap;
}

.taste-item {
  border-radius: 15px;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}
.taste-item:nth-child(2n) {
  border: 1px solid #fd9222;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.made {
  padding-top: 120px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-title span {
  color: #fd9222;
}

.made-img {
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 28px;
}

.made-list {
}
.made-item {
  margin-bottom: 24px;
}
.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.products {
  padding-top: 120px;
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}

.products-title span {
  color: #fd9222;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-item {
  background-color: #fff;
  border: 1px solid #1111111a;
  border-radius: 15px;
  padding: 32px 20px;
  text-align: center;
  width: calc((100% - 18px * 3) / 4);
}

.products-img {
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 2px;
}

.products-item-text {
  font-style: Regular;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
  border: 1px solid #1111111a;
  border-radius: 15px;
}

.products-item-price {
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #111111;
}

.sellers {
  padding-top: 120px;
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  columns: #111111;
  margin-bottom: 50px;
}

.sellers-title span {
  color: #fd9222;
}

.sellers-list {
  display: flex;
  justify-content: space-between;
}

.sellers-item {
  width: calc((100% - 16 * 2) / 3);
}

.sellers-img {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  border-width: 0px, 1px, 1px, 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-color: #1111111a;
  border-top: none;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.loved-title span {
  color: #fd9222;
}

.loved-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.loved-item {
  border: 1px solid #1111111a;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 56px 24px 24px 24px;
  flex-basis: calc((100% - 28px * 2) / 3);
}

.loved-img {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  color: rgba(17, 17, 17, 1);
  background-color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
}

.loved-btn:hover,
.loved-btn:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(253, 146, 34, 1);
}

.footer {
  background-color: rgba(30, 24, 35, 1);
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 4px;
}

.footer-top {
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 50px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-top-right-half {
  display: flex;
  gap: 50px;
}

.footer-navigation {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.02em;
  vertical-align: middle;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
